#map {
  height: calc(100vh - 70px); /* Subtract the height of the navbar */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2c3e50;  /* Dark background */
    color: #ecf0f1;
    height: 100%;  /* Light text color */
}

nav {
    background-color: #34495e;  /* Dark navbar background */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 50px;
}

/* Navbar links (if any) */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ecf0f1;  /* Light text */
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #f39c12;  /* Yellow hover effect */
}

select {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #34495e;  /* Dark background for select */
    color: #ecf0f1;  /* Light text inside select */
    border: 2px solid #7f8c8d;  /* Subtle border */
    border-radius: 5px;
    transition: border-color 0.3s ease;
    width: 200%;  /* Set width to 200% to make it twice as wide */
}

select:hover {
    border-color: #f39c12;  /* Hover border color */
}

select:focus {
    border-color: #f39c12;  /* Focus border color */
    outline: none;
}

button {
    background-color: #f39c12;  /* Yellow button */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67e22;  /* Darker yellow on hover */
}


.legend {
    line-height: 1.5rem;
    color: #555;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: .25rem .25rem .25rem grey;
    
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}